In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

In [5]:
df = pd.read_csv('Data/Ml study/train.csv')
df

,userID,jobID,applied
0,fe292163d06253b716e9a0099b42031d,15de21c670ae7c3f6f3f1f37029303c9,0
1,6377fa90618fae77571e8dc90d98d409,55b37c5c270e5d84c793e486d798c01d,0
2,8ec0888a5b04139be0dfe942c7eb4199,0fcbc61acd0479dc77e3cccc0f5ffca7,1
3,f862b39f767d3a1991bdeb2ea1401c9c,3b5dca501ee1e6d8cd7b905f4e1bf723,0
4,cac14930c65d72c16efac2c51a6b7f71,287e03db1d99e0ec2edb90d079e142f3,0
...,...,...,...
5995,68cb94b97d00979f4e8127915885b641,b9228e0962a78b84f3d5d92f4faa000b,0
5996,c0b199d73bdf390c2f4c3150b6ee1574,e3796ae838835da0b6f6ea37bcf8bcb7,0
5997,3ab88dd28f749fe4ec90c0b6f9896eb5,e2a2dcc36a08a345332c751b2f2e476c,0
5998,75b4af0dacbc119eadf4eeb096738405,3b712de48137572f3849aabd5666a4e3,0
5999,67adefb430df142b099bed89bd491524,65cc2c8205a05d7379fa3a6386f710e1,0

In [7]:
df = pd.get_dummies(df)
df[:5]

,applied,userID_0004289ee1c7b8b08c77e19878106ae3,userID_00dd1479a58930a357e7b4e2ab4c9f33,userID_015b469419f616144c13e0194f880af7,userID_01ed443356f762e9132b58f8c80e131d,userID_03c60b7fc8519077914166ebcfbd6a34,userID_06bf5de6b1d9fed5dacca7180e5938f1,userID_078dd365ebc98784af7f8df76a98f53a,userID_08a11ecb78affb9e1ea1045e58172ac4,userID_09a34e37731b0acc055557e833a78eff,...,jobID_fd06b8ea02fe5b1c2496fe1700e9d16c,jobID_fd2c5e4680d9a01dba3aada5ece22270,jobID_fde9264cf376fffe2ee4ddf4a988880d,jobID_fe709c654eac84d5239d1a12a4f71877,jobID_fe7ee8fc1959cc7214fa21c4840dff0a,jobID_fed33392d3a48aa149a87a38b875ba4a,jobID_ff4d5fbbafdf976cfdc032e3bde78de5,jobID_ffd52f3c7e12435a724a8f30fddadd9c,jobID_ffeabd223de0d4eacb9a3e6e53e5448d,jobID_ffeed84c7cb1ae7bf4ec4bd78275bb98
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
X = df.drop(['applied'], axis = 1)
y = df['applied']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 0)

In [10]:
model = RandomForestClassifier().fit(X_train, y_train)

In [12]:
print('학습 데이터 점수: {}'.format(model.score(X_train, y_train)))
print('평가 데이터 점수: {}'.format(model.score(X_test, y_test)))

학습 데이터 점수: 1.0
평가 데이터 점수: 0.8625

In [42]:
user_tag = pd.read_csv('Data/ML study/user_tags.csv')
tags = pd.read_csv('Data/ML study/tags.csv')
job_tag = pd.read_csv('Data/ML study/job_tags.csv')
job_company = pd.read_csv('Data/ML study/job_companies.csv')

job_company

,companyID,jobID,companySize
0,00411460f7c92d2124a67ea0f4cb5f85,e5f6ad6ce374177eef023bf5d0c018b6,NaN
1,1905aedab9bf2477edc068a355bba31a,185e65bc40581880c4f2c82958de8cfe,11-50
2,89fcd07f20b6785b92134bd6c1d0fa42,0537fb40a68c18da59a35c2bfe1ca554,101-200
3,acf4b89d3d503d8252c9c4ba75ddbf6d,b7ee6f5f9aa5cd17ca1aea43ce848496,1-10
4,fb7b9ffa5462084c5f4e7e85a093e6d7,efe937780e95574250dabe07151bdc23,NaN
...,...,...,...
728,b5dc4e5d9b495d0196f61d45b26ef33e,fa3a3c407f82377f55c19c5d403335c7,51-100
729,2dace78f80bc92e6d7493423d729448e,d7a728a67d909e714c0774e22cb806f2,51-100
730,443cb001c138b2561a0d90720d6ce111,d81f9c1be2e08964bf9f24b15f0e4900,NaN
731,b5b41fac0361d157d9673ecb926af5ae,ae0eb3eed39d2bcef4622b2499a05fe6,NaN
732,64223ccf70bbb65a3a4aceac37e21016,912d2b1c7b2826caf99687388d2e8f7c,1-10

In [44]:
df3 = pd.merge(job_company, job_tag)
df3

,companyID,jobID,companySize,tagID
0,00411460f7c92d2124a67ea0f4cb5f85,e5f6ad6ce374177eef023bf5d0c018b6,NaN,3948ead63a9f2944218de038d8934305
1,00411460f7c92d2124a67ea0f4cb5f85,e5f6ad6ce374177eef023bf5d0c018b6,NaN,3fe78a8acf5fda99de95303940a2420c
2,00411460f7c92d2124a67ea0f4cb5f85,e5f6ad6ce374177eef023bf5d0c018b6,NaN,0e095e054ee94774d6a496099eb1cf6a
3,00411460f7c92d2124a67ea0f4cb5f85,e5f6ad6ce374177eef023bf5d0c018b6,NaN,81dc9bdb52d04dc20036dbd8313ed055
4,00411460f7c92d2124a67ea0f4cb5f85,e5f6ad6ce374177eef023bf5d0c018b6,NaN,f47330643ae134ca204bf6b2481fec47
...,...,...,...,...
3472,64223ccf70bbb65a3a4aceac37e21016,912d2b1c7b2826caf99687388d2e8f7c,1-10,bb7946e7d85c81a9e69fee1cea4a087c
3473,64223ccf70bbb65a3a4aceac37e21016,912d2b1c7b2826caf99687388d2e8f7c,1-10,884d79963bd8bc0ae9b13a1aa71add73
3474,64223ccf70bbb65a3a4aceac37e21016,912d2b1c7b2826caf99687388d2e8f7c,1-10,6eb6e75fddec0218351dc5c0c8464104
3475,64223ccf70bbb65a3a4aceac37e21016,912d2b1c7b2826caf99687388d2e8f7c,1-10,3bf55bbad370a8fcad1d09b005e278c2
3476,64223ccf70bbb65a3a4aceac37e21016,912d2b1c7b2826caf99687388d2e8f7c,1-10,bd4c9ab730f5513206b999ec0d90d1fb

In [26]:
user_tag[:3]

                             userID                             tagID
0  e576423831e043f7928d9ac113abbe6f  82c2559140b95ccda9c6ca4a8b981f1e
1  e576423831e043f7928d9ac113abbe6f  2ba8698b79439589fdd2b0f7218d8b07
2  e576423831e043f7928d9ac113abbe6f  351b33587c5fdd93bd42ef7ac9995a28

In [32]:
df1 = pd.merge(user_tag, tags)
df1[:3]

                             userID                             tagID keyword
0  e576423831e043f7928d9ac113abbe6f  82c2559140b95ccda9c6ca4a8b981f1e   JUnit
1  078dd365ebc98784af7f8df76a98f53a  82c2559140b95ccda9c6ca4a8b981f1e   JUnit
2  e57c6b956a6521b28495f2886ca0977a  82c2559140b95ccda9c6ca4a8b981f1e   JUnit

In [41]:
df2 = pd.merge(job_tag, tags)
df2

,jobID,tagID,keyword
0,320722549d1751cf3f247855f937b982,d38901788c533e8286cb6400b40b386d,Ruby
1,851ddf5058cf22df63d3344ad89919cf,d38901788c533e8286cb6400b40b386d,Ruby
2,c4ca4238a0b923820dcc509a6f75849b,d38901788c533e8286cb6400b40b386d,Ruby
3,3a15c7d0bbe60300a39f76f8a5ba6896,d38901788c533e8286cb6400b40b386d,Ruby
4,577bcc914f9e55d5e4e4f82f9f00e7d4,d38901788c533e8286cb6400b40b386d,Ruby
...,...,...,...
3472,e555ebe0ce426f7f9b2bef0706315e0c,076023edc9187cf1ac1f1163470e479a,Linux kernel
3473,0d7de1aca9299fe63f3e0041f02638a3,3eb71f6293a2a31f3569e10af6552658,Grunt
3474,0d7de1aca9299fe63f3e0041f02638a3,489d0396e6826eb0c1e611d82ca8b215,WordPress
3475,535ab76633d94208236a2e829ea6d888,46515dcd99ea50dd0671bc6840830404,Less.js
3476,3435c378bb76d4357324dd7e69f3cd18,6e2713a6efee97bacb63e52c54f0ada0,Data mining

In [40]:
df2.value_counts('keyword')

keyword
JavaScript              219
Java                    197
Python                  187
Node.js                 153
MySQL                   143
                       ...
Red Hat Ceph Storage      1
JIRA                      1
CUDA                      1
CSS3                      1
RxKotlin                  1
Length: 240, dtype: int64

In [33]:
df1.value_counts('keyword')

keyword
Java                                 820
JavaScript                           796
MySQL                                701
Spring                               564
Node.js                              516
                                    ...
Google Cloud Storage for Firebase      1
ros                                    1
Sketch                                 1
Qt                                     1
Querydsl                               1
Length: 345, dtype: int64

In [ ]:
for i in range(len(user_tags)):
    for j in range(len(tags)):
        if tags['tagID'][j].rfind(user_tags.loc[i, 'tagID']) != -1:
            user_tags.loc[i, 'keyword'] = tags['keyword'][j]

In [ ]:
for i in range(len(user_tags)):
    for j in range(len(tags)):
        if tags['tagID'][j] == user_tags.loc[i, 'tagID']:
            user_tags.loc[i, 'keyword'].append(tags['keyword'][j])